<form method="post">
    <label>Username</label>
    <input type="text" name="Username" id="Username" class="form-control" />
    <label>Password</label>
    <input type="password" name="Password" id="Password" class="form-control" />
    <br>
    <input type="submit" name="submit" id="submit" value="Accedi" />
</form>